

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  z-index: 111;
}
.checkbox-class {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.childinput {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  font-size: 0.85em;
}
.checkbox-class input {
  margin-right: 6px;
}
input.form-radio {
  filter: hue-rotate(163deg);
}
.checkbox-class input.form-textarea {
  width: 100%;
  margin-right: 0;
  min-height: 100px;
  border: 1px solid #e0dfdf;
  padding: 5px;
  margin-bottom: 10px;
}
.checkbox-class label {
  margin-bottom: 7px;
}
.bg-primary{
  background-color: #ff5a43;
}
button.bg-primary:hover{
  background-color: #ff7160;
}
.text-primary{
  color: #ff5a43;
}
button.border-primary:hover{
  border-color: #ff5a43;
}

